body {
  background-color: black;
  height: 50vh;
  width: 1600px;
}

h1 {
  position: fixed;
  width: 500px;
  height: 200px;
  margin: 5% auto;
  left: 0;
  right: 0;
}

ul {
  display: flex;
}

.home-li {
  list-style-type: none;
}
